<html>
    <head>
    <title>Jobify</title>
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
        <link href="estilos.css" rel="stylesheet" />
    </head>

    <body>
        <h1><a href="/"><img src="images/logo.png" alt="Jobify logo - by Xumes" /></a></h1>
        <h1>We are Jobify - Join us!</h1>