<html>
    <head>
    <title>Jobify</title>
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto" rel="stylesheet">
        <link href="estilos.css" rel="stylesheet" />
    </head>

    <body>
        <img src="images/logo.png" alt="Jobify logo - by Xumes" />
        <h1>We are Jobify - Join us!</h1>
        <p>Hoje é <%- date %></p>
        <h2>Open roles:</h2>
        <div>
            <h3>Engineering team</h3>
            <ul>
                <li><a href="vaga">Fullstack Developer (Remote)</a></li>
            </ul>
        </div>
        <div>
            <h3>Marketing team</h3>
            <ul>
                <li><a href="vaga">Digital Marketing (San Francisco)</a></li>
            </ul>
        </div>
    </body>
</html>