
        <%- include('header') %>
        <h2>Open roles:</h2>
        
        <% categorias.forEach( cat => { %>
            <div>
                <h3><%- cat.categoria %></h3>
                <ul>
                    <% cat.vagas.forEach ( vaga => { %>
                        <li><a href="vaga"><%- vaga.titulo %></a></li>
                    <% }) %>
                </ul>
            </div>
        <% }) %>
        
        <%- include('footer') %>