body {
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
}

h2 {
    background-color: #C4C4C4;
    padding: 8px;
    font-size: 24px;
}

h3 {
    font-size: 24px;
}

p {
    text-align: center;
}

ul {
    list-style: none;
    margin-left: 16px;
    padding-left: 0;
}

label {
    display: block;
    margin: 20px 0 4px 0;
}

input, select{
    padding: 6px;
    width: 540px;
}

textarea {
    padding: 6px;
    width: 540px;
    height: 320px;
}

button{
    display: block;
    padding: 12px;
    margin: 20px 0 4px 0;
    background-color: blue;
    color: white;
}