<%- include('../header') %>
    <h2>
        <a href="/admin/vagas" >Vagas</a>
    </h2>
    <div>

        <form method="post">
            <label>Titulo:</label>
            <input type="text"  name="titulo"/>
            <label>Descrição:</label>
            <textarea name="descricao"></textarea>
            <label>Categoria da vaga:</label>
            <select name="categoria">
                <% categorias.forEach( cat => { %>
                    <option value="<%- cat.id %>"><%- cat.categoria %></option>
                <% }) %>
            </select>
            <button>Salvar vaga</button>
        </form>

    </div>

<%- include('../footer') %>